.pizza
    display: flex
    margin: 0 30px
.topBar
    display: flex
    flex: 1
    max-height: 80px
    height: 80px
    border-bottom: 1px solid #adadad
    box-shadow: 0 10px 10px -10px #000000
    position: sticky 