.container {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tableContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.tableFlex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.labelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formLabel {
  margin: 0 15px;
  font-size: 1.2rem;
  font-family: inherit;
  color: #112222;
  width: 100%;
}

.formInput {
  width: 405px;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 5px;
}

.formControl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
  grid-column-gap: 10px;
  margin: 15px;
}

.horizontalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common_button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.common_button:focus {
  outline: none;
}

.formTitle {
  height: 60px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #6692b9;
  background: #6692b9;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.centerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inlineFormInput {
  display: inline;
}

.saveButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.ctaButton {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  background-color: #6692b9;
  color: white;
  cursor: pointer;
}

.descriptionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.descriptionContainer {
  width: 450px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 10px;
  background-position: bottom right;
  background-repeat: no-repeat;
  font-size: 1rem;
  border-radius: 10px;
}

.checkboxContainer {
  margin: 20px;
}

.checkBoxLabel {
  max-width: 200px;
  width: 100%;
}

.titleWithNoBox {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.home_button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

.home_button:hover {
  background-color: #01a1dd;
  color: white;
}

.home_top_bar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.right_bar {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.right_bar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.right_bar_button {
  padding: 5px;
  border: none;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.right_bar_button:hover {
  color: #6692b9;
}

.multiSelectWidth {
  max-width: 400px;
}

.transparent {
  background: transparent;
  border: none;
  font-size: 1.2rem;
}

.between {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin5 {
  margin: 10px 0;
}

.button200 {
  width: 200px;
}
/*# sourceMappingURL=Items.module.css.map */