.main
    display: flex
    max-width: 300px
    position: static
    border-right: 1px solid #adadad 
    height: 100vh
    box-shadow: 0 10px 10px 0.8px #000000
.sidebar
    max-height: 80px
    width: 100%
    border-bottom: 1px solid #adadad
    box-shadow: 1px 0 5px 1px 
.titleBox
    display: flex
.avatar
    width: 90px
    height: auto
    display: flex
    justify-content: flex-end
.avatarImg
    width: 70px
    height: 70px
.title
    font-size: 0.6rem
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: #adadad
    font-family: Arial, Helvetica, sans-serif
    font-weight: 500