.ReactTable
    margin: 40px
._center
    width: 100%
    margin: 0 10px
.rt_table
    width: 100%
    border-radius: 5px !important

.rt_header_search
    border: none
    border-bottom: solid 1px
    margin: 5px
    &:focus
        outline: none
.pagintion_content
    display: flex
    justify-content: center
.tableTile
    width: 100%;
    border: solid 1px;
    background-color: #aaa;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;